/* Navigation.css */

.navigation-container {
    width: 200px; 
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  li:hover {
    text-decoration: underline;
  }

li a {
  text-decoration: none;
  color: #fff; 
  display: block; 
  padding: 10px 0; 
}

li a:hover {
  text-decoration: underline; 
}
  

  .logout-button{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .logout-button:hover {
    background-color: #333;
    color: #fff;
  }